{{define "footer"}}
<footer class="text-textMuted">
  <p>
    &copy; 2024
    <a href="https://github.com/0ceanSlim/grain" class="text-purple-400"
      >GRAIN 🌾</a
    >, made with 💦 by
    <a
      href="https://njump.me/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
      class="text-purple-400"
      >OceanSlim</a
    >
  </p>
  <p>
    GRAIN is Proudly Open Source. Don't hesitate to
    <a
      href="https://github.com/0ceanSlim/grain?tab=readme-ov-file#development"
      class="text-purple-400"
      >contribute</a
    >!
  </p>
</footer>
{{end}}
