{{define "footer"}}
<footer class="px-4 py-6 text-text-secondary">
  <p>
    <a href="https://github.com/0ceanSlim/grain">GRAIN 🌾</a>, made with 💦 by
    <a
      href="https://wheat.happytavern.co/p/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
      >OceanSlim</a
    >
  </p>
  <p class="mt-1">
    GRAIN is Proudly Open Source.
    <a
      href="https://github.com/0ceanSlim/grain/issues"
      class="text-danger hover:opacity-80"
      target="_blank"
      rel="noopener"
      >🐛 Report a bug</a
    >
  </p>
</footer>
{{end}}
