{{define "layout"}}
<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    CDNs are used for ease of development. In a Production enviornment, 
    build a proper minified custom CSS using the Tailwind CLI tool and serve
    the latest available minified htmx and custom css directly from your server.

    Build the taiwind styling from the configuration 
      in the /client/style directory
    <link href="style/custom.min.css" rel="stylesheet" />

    <link href="/static/htmx.min.js">

    To download a copy of htmx: https://htmx.org/docs/#download-a-copy

    To download a copy of Tailwind: https://tailwindcss.com/docs/installation

    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>{{.Title}}</title>
    <style>
      .spinner {
        display: none;
        width: 32px;
        height: 32px;
        border: 5px solid purple;
        border-top: 5px solid violet;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  {{template "header" .}}
  <body class="font-mono text-center text-white bg-gray-800">
    {{template "view" .}}
  </body>
  {{template "footer" .}}
</html>
{{end}}
