{{define "view"}}
<main class="flex flex-col items-center justify-center p-8">
  <div class="mb-4">You are now viewing the {{.Title}}</div>
  <!--<h2>Top Ten Most Recent Events</h2>
  <ul>
    {{range .Events}}
    <li>
      <strong>ID:</strong> {{.ID}}<br />
      <strong>Content:</strong> {{.Content}}<br />
      <strong>Created At:</strong> {{.CreatedAt}}<br />
      <strong>PubKey:</strong> {{.PubKey}}
    </li>
    {{end}}
  </ul>-->
  <div
    class="container flex justify-center p-4 border-2 border-gray-600 border-solid rounded-md w-fit"
  >
    <form id="import-form" method="POST" action="/import-events">
      <div>
        <label for="pubkey">Pubkey:</label>
        <input
          class="p-2 m-2 text-black rounded-md"
          type="text"
          id="pubkey"
          name="pubkey"
          required
          maxlength="64"
        />
      </div>
      <div>
        <label for="relayUrls">Relay URLs (comma separated):</label>
        <input
          class="p-2 m-2 text-black rounded-md"
          type="text"
          id="relayUrls"
          name="relayUrls"
          required
        />
      </div>
      <button
        class="p-2 m-2 font-bold bg-green-500 rounded-md font-xl"
        type="submit"
      >
        Import Events
      </button>
    </form>
  </div>
</main>
{{end}}
